.section{
	min-height: 100vh;	
	.section-background{			
		display: block;
		width: 100%;
		position: absolute;
		top: 0;
		height: 100vh;
		.section-background-image{
			background-image: url("../images/activebig.jpg");	
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			background-position: center;			
			height: 100vh;
		}
	}
}