// Variables persos
@widthTopic :20%;
@height-header:@navbar-height;
@height-image-section:@height-header;
@height-img-active-indicator:5px;
@margin-logo:10px;

//Autres variables modifiées
@navbar-height:75px;

#header{
	position: fixed;
	top: 0;
	width: 100%
}


#first-section{	
	height: 100vh;	
	.titre{
		color: white;
		margin-top: 0px;
		position: fixed;
		width: 100%;
	}	
}

#section-images{
	position: absolute;
	width: 100%;
	top: 100%;	
	height: @height-image-section;
	margin-top: -@height-image-section;
	overflow: hidden;			
	.box-shadow(0 2px 3px rgba(0,0,0,.1));
	.images {
		font-size: 0;/*Important, permet d'éviter des gaps entre les images*/
		position: absolute;
		bottom: 0;
		margin: 0;
		padding: 0;
		white-space: nowrap;
		width: 100%;
		.topic {
			display: inline-block;
			font-size: 1em;
			width: @widthTopic;
			a{
				display: block;
				overflow: hidden;
				height: 100%;
				img{
					vertical-align: baseline;
					width: 100%;	
					min-height: 100%;			
				}						
				&:after{
					content: "";
					position: relative;
					bottom: 0px;
					height: 0px;
					margin-bottom: 0px;					
					display: block;
					background-color: @brand-primary;		
					.transition(all 0.2s ease);
				}						
			}
		}			
		.topic.active a:after, .topic.inactive a:hover:after{
			bottom: @height-img-active-indicator;
			height: @height-img-active-indicator;
			margin-bottom: -@height-img-active-indicator;						
		}
	}	
}	

#main{
	background-color: white;
	.container{
		background-color: white;			
		position: relative;
		width: 100%;
		min-height: 80%;		
	}
	.titre{
		color: @brand-primary;
		margin-top: 0px;
	}
	.row.tweet{
		display: table;
		padding-top: 40px;
		padding-bottom: 70px;
		.profile{
			display: table-cell;
			img{
				width: 100%;
			}
		}
		.text{
			display: table-cell;			
			vertical-align: middle;
			font-size: 25px;
			font-family: @font-family-serif;
		}
		.numbers{
			display: table-cell;
			vertical-align: middle;			
		}
	}	
}

#section-background{
	.section-background-image{
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		min-width: 100%;
		}
	}
	.net{
		z-index: -2;			
	}
	.blur{
		z-index: -1;		
}		

// Pour la section-iamges : permet de passer d'une rangée de 10 à une rangée de 5 par exemple. 
@media (min-width: @screen-md-min) {
	.section-images{
		.images .topic.active:before, .topic{
				width: @widthTopic;
		}	
	}	
}
@media (max-width: @screen-md-min) {
	.section-images{
		.images .topic.active:before, .topic{
				width: @widthTopic;
		}	
	}	
}
@media (min-width: @screen-sm-min) {
	#main{
		.row{
			width: 0.75 * @screen-sm-min;
			margin: 30px auto;
		}
	}
}
@media (min-width: @screen-md-min) {
	#main{
		.row{
			width: 0.75 * @screen-md-min;
			margin: 30px auto;
		}
	}
}
@media (min-width: @screen-lg-min) {
	#main{
		.row{
			width: 0.75 * @screen-lg-min;
			margin: 30px auto;
		}
	}
}

.logo{
	//width: 0px;/*permet de centrer le titre*/
	.pull-left();
	img{
		max-height: @navbar-height - 2* @margin-logo;
		margin: @margin-logo;
	}
}	

.titre{
	font-size: 40px;
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;	
}

.wrapper-images{
	height: 0px !important;
	#section-images.stuck{
		z-index: 1;
		position: fixed;
		top: @height-image-section;
	}	
}
.wrapper-navbar{
	#navbar.stuck{
		width: 100%;
		z-index: 1;
		position: fixed;
		top: @height-image-section;
	}	
}
